In [16]:
import pandas as pd
import yfinance as yf
import datetime as dt

In [43]:
def download_ticker_data(ticker):

    data = yf.download(ticker, period='max')

    # create features before saving
    (
    data
    .reset_index()
    .assign(Range=lambda _df: _df.High - _df.Low,
            prevclose=lambda _df: _df.Close.shift(1),
            PctChange=lambda _df: ((_df.Close - _df.prevclose) / _df.prevclose) * 100
            )
    .round(2)
    .drop(columns=['Adj Close', 'prevclose'])
    .to_parquet(f'{ticker}.parquet', engine='fastparquet')
    )
    
    return print(f'{ticker} data downloaded.')


# download_ticker_data('SPY')

In [47]:
df = pd.read_parquet('SPY.parquet')

df

           Date    Open    High     Low   Close     Volume  Range  PctChange
0    1993-01-29   43.97   43.97   43.75   43.94    1003200   0.22        NaN
1    1993-02-01   43.97   44.25   43.97   44.25     480500   0.28       0.71
2    1993-02-02   44.22   44.38   44.12   44.34     201300   0.25       0.21
3    1993-02-03   44.41   44.84   44.38   44.81     529400   0.47       1.06
4    1993-02-04   44.97   45.09   44.47   45.00     531500   0.62       0.42
...         ...     ...     ...     ...     ...        ...    ...        ...
7495 2022-11-02  383.90  388.63  374.76  374.87  126990400  13.87      -2.51
7496 2022-11-03  371.47  374.20  368.79  371.01   87100100   5.41      -1.03
7497 2022-11-04  377.00  378.87  370.00  376.35  103449600   8.87       1.44
7498 2022-11-07  377.71  380.57  375.53  379.95   68286900   5.04       0.96
7499 2022-11-08  381.11  385.12  377.72  382.00   84446300   7.40       0.54

[7500 rows x 8 columns]